.quote {
  text-align: center;
  font-size: 10px;
}


@media screen and (min-width: 397px) {
  .quote {
    font-size: 14px;
  }
}
@media screen and (min-width: 555px) {
  .quote {
    font-size: 20px;
  }
}
