.quote {
  text-align: center;
}

@media screen and (max-width: 366px) {
  .quote {
    font-size: 10px;
  }
}

@media screen and (min-width: 367px) {
  .quote {
    font-size: 14px;
  }
}
@media screen and (min-width: 525px) {
  .quote {
    font-size: 20px;
  }
}
